<p id="notice"><%= notice %></p>

<p>
  <strong>Entry:</strong>
  <%= @note.entry %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @note.pet_id %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
